* {
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.app-page {
  background-image: linear-gradient(to bottom right, #74a4d4, #3f6d9b);
}
.logo-name {
  color: white;
}
.logo-name:hover {
  text-decoration: none;
  color: white;
}
nav {
  color: white;
  /* position: fixed; */
  /* text-shadow: 1px 1px 3px #333333; */
  height: 80px;
  width: 100%;
}
label.logo {
  font-size: 40px;
  line-height: 80px;
  padding: 0 140px;
  font-weight: 600;
  /* font-family: 'Poppins', sans-serif; */
}
nav ul {
  float: right;
  margin-right: 60px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 2px;
}
.nav-text {
  font-weight: 500;
  font-size: 24px;
  padding: 7px 13px;
  border-radius: 3px;
  /* text-transform: uppercase; */
  /* font-family: 'Poppins', sans-serif; */
  transition: 0.5s;
}
.nav-text:hover {
  color: white;
  text-decoration: underline;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
  z-index: 1;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 27px;
    padding-left: 25px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
.center-page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg-spinner {
  background-color: rgba(0, 0, 0, 0.527);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.home-content {
  background-image: linear-gradient(to bottom right, #74a4d4, #3f6d9b);
  height: 100vh;
  align-items: center;
}
.upload-csv-page {
  background-image: linear-gradient(to bottom right, #74a4d4, #3f6d9b);
  height: 100%;
  align-items: center;
}
.index-content {
  width: 100%;
  color: white;
}
.start-content {
  padding: 50px;
}
.name-content h1 {
  font-size: 60px;
  margin-top: 80px;
}
.name-content hr {
  background-color: white;
}
.info-content {
  font-size: 36px;
}
.ps-content {
  font-size: 24px;
}
.ps-content a {
  color: #333333;
  text-decoration: underline;
  transition: 0.5s;
}
.to-view-details {
  width: 100%;
  height: 100px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.to-view-details > div {
  width: 100px;
  height: 100px;
  border: 3px solid white;
  border-radius: 50%;
  padding: 6px;
}
.to-view-details > div:hover {
  box-shadow: 3px 3px 5px #333333;
}
.About {
  margin-top: 100px;
}
.img-about {
  width: 280px;
  height: 280px;
  object-fit: cover;
}
.know {
  margin-top: 30px;
}
.know-center {
  padding-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}
.topic-name {
  color: #74a4d4;
  font-size: 24px;
}
.know-icon {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.line-qr {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.footer {
  color: white;
  padding-top: 50px;
  margin-top: 80px;
  background-color: #74a4d4;
  height: 450px;
}
.footer-img {
  width: 180px;
  height: 100%;
  object-fit: cover;
}
.copy-right {
  text-align: center;
}
.Show-Student {
  width: 100%;
  height: 110vh;
  padding-bottom: 100px;
  background-image: linear-gradient(to bottom right, #74a4d4, #3f6d9b);
}
.testing-type {
  color: white;
  padding: 30px;
  margin-left: 90px;
}
.testing-btn {
  background: none;
  border: none;
  padding: 0;
  height: 50px;
  margin-bottom: 10px;
}
.table-bg {
  background-color: white;
  height: 300px;
  overflow-y: auto;
  overflow-x: auto;
}
.back-menu {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.back-menu > div {
  padding: 5px;
}
.checklist-user {
  position: absolute;
  width: 100%;
  background-color: rgb(250, 250, 250);
  color: #333333;
  padding: 30px;
  padding-left: 90px;
}
.tutorial {
  color: white;
  padding: 30px;
  margin-left: 90px;
}
.tutorial div span {
  text-decoration: underline;
  font-weight: 800;
}
.not-found {
  width: 100%;
  height: 100vh;
  color: white;
  background-image: linear-gradient(to bottom right, #74a4d4, #3f6d9b);
}
.not-found-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 70vh;
}
.spinner-bg {
  width: 100%;
  height: 100vh;
  color: white;
  background-image: linear-gradient(to bottom right, #74a4d4, #3f6d9b);
}
.spinner-space {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 70vh;
}
.not-found-back {
  color: #333333;
  text-decoration: underline;
}
.not-found-back:hover {
  color: #333333;
}
.result-page {
  width: 100%;
  height: 100%;
  color: white;
  background-image: linear-gradient(to bottom right, #74a4d4, #3f6d9b);
}
.result-output div p {
  font-size: 18px;
}
.INH-page {
  width: 100%;
  height: 100%;
  color: white;
  background-image: linear-gradient(to bottom right, #74a4d4, #3f6d9b);
}
.start-testing {
  width: 100%;
  height: 100vh;
  color: white;
  background-image: linear-gradient(to bottom right, #74a4d4, #3f6d9b);
}
.test-page {
  padding: 50px;
}
.question-card {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 5px;
  color: #333333;
  background-color: #eeeeee;
}
.toolip-question {
  font-size: 16px;
  color: #3f6d9b;
  text-decoration: underline;
}
.admin-page {
  color: white;
  padding: 30px;
  margin-left: 20px;
}
.std-table {
  background-color: white;
}
.admin-page hr {
  background-color: white;
}
.rada-graph {
  /* background-color: white; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rada-graph div {
  background-color: white;
  width: 90%;
  border-radius: 10px;
}
.topic-result {
  display: inline;
}
.all-user-list-bg {
  height: 500px;
  width: auto;
  overflow-x: auto;
  overflow-y: auto;
}
.all-user-list {
  background-color: white;
  width: auto;
  height: auto;
}
.all-user {
  height: 115vh;
  background-image: linear-gradient(to bottom right, #74a4d4, #3f6d9b);
}
.table-new-student {
  overflow-y: auto;
  background-color: white;
}

@media (max-width: 858px) {
  .all-user-list-bg {
    height: 500px;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
  }
  .all-user-list {
    background-color: white;
    width: 230%;
    height: auto;
  }
  .topic-result {
    display: none;
  }
  .admin-page {
    color: white;
    padding: 10px;
    margin-left: 10px;
  }
  .Show-Student {
    width: 120%;
    height: auto;
    padding-bottom: 100px;
    background-image: linear-gradient(to bottom right, #74a4d4, #3f6d9b);
  }
  .test-page {
    padding: 10px;
  }
  .testing-type {
    color: white;
    padding: 30px;
    margin-left: 10px;
  }
  .tutorial {
    color: white;
    padding: 30px;
    margin-left: 10px;
  }
  .checklist-user {
    background-color: rgb(250, 250, 250);
    color: #333333;
    width: 120%;
    padding: 30px;
    padding-left: 10px;
  }
  .div-center {
    text-align: center;
  }
  .home-content {
    height: 115vh;
  }
  .upload-csv-page {
    height: 100%;
  }
  .all-user {
    height: 115vh;
    background-image: linear-gradient(to bottom right, #74a4d4, #3f6d9b);
  }
  .name-content h1 {
    margin-top: 0;
  }
  .About {
    margin-top: 40px;
  }
  .start-content {
    padding: 30px;
  }
  .checkbtn {
    display: block;
    margin-right: 40px;
  }
  nav {
    position: relative;
  }
  ul {
    color: white;
    position: fixed;
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(to bottom right, #74a4d4, #3f6d9b);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .nav-text {
    font-size: 30px;
  }
  .nav-text:hover {
    background: none;
    text-decoration: underline;
  }
  #check:checked ~ ul {
    left: 0;
    z-index: 1;
  }
  .name-content {
    text-align: center;
  }
}
